extends layout.pug

block contentTop
	.text-container
		h1 Contact
block content
	h2 Contact Information
	hr
	.text-container
		br
		p
			|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam imperdiet elit vel porta fermentum. Nunc vulputate vel arcu vel pellentesque. Nulla posuere gravida velit, tincidunt porta eros fermentum nec. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed venenatis dolor non elit vehicula, vel tempus ipsum placerat. Sed ipsum velit, condimentum et sem vel, ullamcorper varius ligula. Ut vehicula, diam euismod iaculis posuere, felis dui molestie dui, ac ultrices justo lectus et velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas ut condimentum sem, viverra maximus diam. Nulla at dui et ligula pretium interdum. Aenean ultricies facilisis odio, vitae venenatis orci consectetur vel. Integer sagittis, purus malesuada interdum ultricies, risus libero ornare ipsum, eu pretium ligula felis sit amet nibh. Maecenas ac ullamcorper ex.
			br
block contentTopRO
	.text-container
		h1 Contact
block contentRO
	h2 Informatii de Contact
	hr
	.text-container
		br
		p
			|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam imperdiet elit vel porta fermentum. Nunc vulputate vel arcu vel pellentesque. Nulla posuere gravida velit, tincidunt porta eros fermentum nec. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed venenatis dolor non elit vehicula, vel tempus ipsum placerat. Sed ipsum velit, condimentum et sem vel, ullamcorper varius ligula. Ut vehicula, diam euismod iaculis posuere, felis dui molestie dui, ac ultrices justo lectus et velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas ut condimentum sem, viverra maximus diam. Nulla at dui et ligula pretium interdum. Aenean ultricies facilisis odio, vitae venenatis orci consectetur vel. Integer sagittis, purus malesuada interdum ultricies, risus libero ornare ipsum, eu pretium ligula felis sit amet nibh. Maecenas ac ullamcorper ex.
		br
