extends layout.pug

block contentTop
	.text-container-title
		h1 Copyright Terms
		h2 Copyright (c) 2020 SC GOODSYS SRL
block content
	hr
	.copyright.text-container
		br
		p
			|Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
			br
			br
			|The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
			br
			br
			|THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
			br
block contentTopRO
	.text-container-title
		h1 Termeni Copyright
		h2 Copyright (c) 2020 SC GOODSYS SRL
block contentRO
	hr
	.copyright.text-container
		br
		p
			|Se acordă, gratuit, permisiunea oricărei persoane care obține o copie a acestui software și a fișierelor de documentație asociate ("Software"), de a trata software-ul fără restricții, inclusiv, fără limitare, drepturile de utilizare, copiere, modificare, îmbinare, publicare, distribuire, sublicențiere și/sau vânzare de copii ale Software-ului și de a permite persoanelor cărora le este furnizat Software-ul să facă acest lucru, sub rezerva următoarelor condiții:
			br
			br
			|Notificarea de mai sus privind drepturile de autor și această notificare de permisiune vor fi incluse în toate copiile sau porțiunile substanțiale ale Software-ului.
			br
			br
			|SOFTWARE-UL ESTE FURNIZAT "CA ATARE", FĂRĂ GARANȚIE DE ORICE FEL, EXPRESĂ SAU IMPLICITĂ, INCLUSIV, DAR FĂRĂ A SE LIMITA LA: GARANȚIILE DE VANDABILITATE, ADECVARE PENTRU UN ANUMIT SCOP ȘI ACTIVITĂȚI CARE NU ÎNCALCĂ NICI DREPTURI DE PROPRIETATE INTELECTUALĂ. AUTORII SAU TITULARII DREPTURILOR DE AUTOR NU VOR FI ÎN NICI UN CAZ RĂSPUNZĂTORI PENTRU ORICE RECLAMAȚIE, DAUNE SAU ALTE OBLIGAȚII, FIE ÎNTR-O ACȚIUNE CONTRACTUALĂ, DELICTUALĂ SAU DE ALTĂ NATURĂ, CARE REZULTĂ DIN, SAU ESTE ÎN LEGĂTURĂ CU SOFTWARE-UL SAU UTILIZAREA SAU ALTE TRANZACȚII ÎN SOFTWARE.
			br
