block bodyFooterRO
	footer
		ul.text-container.full-width
			li
				h4.copyright Copyright (c) 2020 SC GOODSYS SRL
			ul
				li
					a(href="/ro/") www.goodsys.ro
				li
					a(href="/ro/contact") Informatii de Contact
				li
					a(href="/ro/copyright") Termeni de Copyright
