block bodyFooter
	footer
		ul.text-container.full-width
			li
				h4.copyright Copyright (c) 2020 SC GOODSYS SRL
			ul
				li
					a(href="/en/") www.goodsys.ro
				li
					a(href="/en/contact") Contact Information
				li
					a(href="/en/copyright") Copyright Terms