block bodyFooterRO
	footer
		h4 Copyright © 2020 SC GOODSYS SRL
		ul
			li
				a(href="/ro/", title="Pagina Principala") www.goodsys.ro
			li
				a(href="/ro/contact", title="Contact") Informatii de Contact
			li
				a(href="/ro/copyright", title="Copyright") Termeni de Copyright
			li
				button#myBtn(onclick="videoPlayBg('RO')") PAUSE Videoclip de Fundal
