block bodyFooterRO
	footer
		ul.text-container.full-width
			li.copyright
				h4 Copyright (c) 2020 SC GOODSYS SRL
				ul
					li
						a(href="/ro/") www.goodsys.ro
					li
						a(href="/ro/copyright") Termeni de Copyright
