block bodyFooter
	footer
		h4.copyright Copyright (c) 2020 SC GOODSYS SRL
		ul.text-container.full-width
			li
				a(href="/en/") www.goodsys.ro
			li
				a(href="/en/contact") Contact Information
			li
				a(href="/en/copyright") Copyright Terms