block bodyFooter
	footer
		h4 Copyright © 2020 SC GOODSYS SRL
		ul
			li
				a(href="/en/", title="Home") www.goodsys.ro
			li
				a(href="/en/contact", title="Contact") Contact Information
			li
				a(href="/en/copyright", title="Copyright") Copyright Terms
			li
				button#myBtn(onclick="videoPlayBg('EN')") PAUSE Background Video