block bodyFooterRO
	footer
		h4.copyright Copyright © 2020 SC GOODSYS SRL
		ul.text-container
			li
				a(href="/ro/", title="Pagina Principala") www.goodsys.ro
			li
				a(href="/ro/contact", title="Contact") Informatii de Contact
			li
				a(href="/ro/copyright", title="Copyright") Termeni de Copyright
