block bodyHeader
	header
		label(for="show-menu" class="show-menu") SITE MENU
		input(id="show-menu" type="checkbox" role="button")
		nav
			a(href="/en/") Home
			a(href="/en/maintenance") Maintenance
			.hide
				a(href="/en/maintenance/service") Service
				a(href="/en/maintenance/data-backup-recovery") Data Backup/Recovery
				a(href="/en/maintenance/subsriptions") Subscription
			a(href="/en/subscriptions") Subscriptions
			.hide
				a(href="/en/subscriptions/it-advantage") IT Advantage
				a(href="/en/subscriptions/it-flex") IT Flex
				a(href="/en/subscriptions/it-unlimited") IT Unlimited
				a(href="/en/subscriptions/it-premium") IT Premium
			a(href="/en/projects") Projects
			a(href="/en/outsourcing") Outsourcing
			a(href="/en/contact") Contact
		label(for="language-select" class="language-select") LANGUAGE
		input(type="checkbox" id="language-select" role="button")
		.hide
			a(href="/en/") EN
			a(href="/ro/") RO
