block bodyHeaderRO
	header
		label(for="show-menu" class="show-menu") MENIU SITE
		input(type="checkbox" id="show-menu" role="button")
		ul#menu
			nav
				li
					a(href="/ro/") Pagina Principala
				li
					a Mentenanta
					ul.hide
						li
							a(href="/ro/maintenance/service") Service
						li
							a(href="/ro/maintenance/data-backup-recovery") Backup si Recuperare Date
						li
							a(href="/ro/maintenance/subsriptions") Abonamente
				li
					a Abonamente
					ul.hide
						li
							a(href="/ro/subscriptions/it-advantage") IT Avantaj
						li
							a(href="/ro/subscriptions/it-flex") IT Flexibil
						li
							a(href="/ro/subscriptions/it-unlimited") IT Nelimitat
						li
							a(href="/ro/subscriptions/it-premium") IT Premium
				li
					a(href="/ro/projects") Proiecte
				li
					a(href="/ro/outsourcing") Externalizare
				li
					a(href="/ro/contact") Contact
				li
					a(href="/ro/copyright") Copyright
	.text-container.float-right-always
		a LIMBA
		ul.hide
			li
				a(href="/en/") EN
			li
				a(href="/ro/") RO
