block bodyHeaderRO
	header
		label(for="show-menu" class="show-menu") MENIU SITE
		input(type="checkbox" id="show-menu" role="button")
		nav#menu
			a(href="/ro/") Acasa
			a(href="/ro/maintenance") Mentenanta
			.hide
				a(href="/ro/maintenance/service") Service
				a(href="/ro/maintenance/data-backup-recovery") Backup si Recuperare Date
				a(href="/ro/subscriptions") Abonamente
			a(href="/ro/subscriptions") Abonamente
			.hide
				a(href="/ro/subscriptions/it-advantage") IT Avantaj
				a(href="/ro/subscriptions/it-flex") IT Flexibil
				a(href="/ro/subscriptions/it-unmited") IT Nelimitat
				a(href="/ro/subscriptions/it-premium") IT Premium
			a(href="/ro/projects") Proiecte
			a(href="/ro/outsourcing") Externalizare
			a(href="/ro/contact") Contact
		label(for="language-select" class="language-select") LIMBA
		input(type="checkbox" id="language-select" role="button")
		.hide
			a(href="/en/") EN
			a(href="/ro/") RO
