block it-premiumRO
	hr
	.text-container
		h3
			p
				|Abonamentul IT Premium este solutia noastra la toate problemele pe care le ridica administrarea si
				| intretinerea sistemelor it. Acest abonament a fost creat sa substituie intregul departament it
				| eliminand astfel toate costurile aferente. In plus, beneficiati de experienta si cunostintele unei echipe intregi.
				| Este cel mai complet abonament it al nostru si cartea noastra de vizita pe care o oferim companiilor
				| care cunosc avantajele externalizarii it.
	.text-container.third-width
		h4 Preturi
		.text-container
			ul
				li Pana la 4 calculatoare 240 EUR;
				li Administrare Server 150 EUR / Server;
				li 5 - 10 calculatoare 60 EUR / Calculator;
				li 11 - 20 calculatoare 54 EUR / Calculator;
				li 21 - 30 calculatoare 49 EUR / Calculator;
				li 31 - 50 calculatoare 45 EUR / Calculator;
				li Peste 51 calculatoare 41 EUR / Calculator.
	.text-container.third-width
		h4 Nivel de suport
		.text-container
			ul
				li Suport telefonic NELIMITAT;
				li Interventii Remote Desktop NELIMITAT;
				li Interventii On site NELIMITAT;
				li Durata maxima a unei interventii on-site NELIMITAT;
				li Timp maxim de raspuns (telefonic) 5 min;
				li Timp maxim de deplasare (interv. fizica) 1 ora.
	.text-container.third-width
		h4 Servicii IT Incluse
		.text-container
			ul
				li Administrare echipamente si retea interna;
				li Administrare echipamente periferice;
				li Administrare servere;
				li Securizare retea;
				li Transport (echipamente la service, reincarcare consumabile etc.);
				li Consultanta achizitie echipamente si licente;
				li serviciul Single Point of Contact;
				li Reincarcare consumabile;
				li Senior IT consultant;
				li Gazduire e-mail/website/ftp server 5GB;
				li Asigurare training de utilizare a calculatoarelor pentru angajati;
				li Mentenanta site web (mici modificari) 6 ore/luna;
				li
					|Promovare online (SEO, newsletter, addwords, social media) 8 ore/luna Audit IT,
					| evidenta echipamentelor, schema retelei, propuneri de optimizare;
				li Optimizarea initiala a echipamentelor detinute;
				li Optimizarea initiala a tuturor echipamentelor detinute;
				li Acces online la aplicatia de management al parcului IT ;
				li
					|Vizite programate la locatia clientului pentru a remedia
					| problemele minore ce nu au fost reclamate 2/luna;
				li
					|Mentenanta prevetinva a echipamentelor IT (curatare echipamente, optimizare softw.)
					| 1/3 luni Configurare solutie de back-up;
				li Asigurare back-up remote pentru informatiile critice, realizat in datacenter. 5GB;
				li
					|Inlocuire echipamente gratuit, pe perioada reparatiei (valabil pentru imprimante
					| si sisteme desktop);
				li Administrare echipamente de supraveghere video;
				li Administrare centrala telefonica;
				li Buy-back echipamente (discount la achizitia unor echipamente noi) 10-25%;
				li Garantie extina pentru echipamentele iesite din garantie;
				li Dezvoltare aplicatii (in limita a 3 zile de dezvoltare/luna);
				li Manopera refacere retea interna;
				li Asigurare stoc de back-up pentru consumabile;
				li Optimizarea activitatii angajatilor prin implementarea de sisteme informatice;
				li Stick internet mobil de back-up 1 buc.
	.text-container.third-width
		h4 Extraoptiuni
		.text-container
			ul
				li Gazduire email / website / FTP server 0.25 EUR/1GB;
				li Asigurare back-up remote 0.25 EUR/1GB;
				li Mentenanta site web 7.5 EUR/ora;
				li Promovare online 7.5 EUR/ora;
				li Dezvoltare software, la cerere 10 EUR/ora.
