
      h1
        a(href='http://www.goodsys.ro' target='_parent') GoodSys
    #templatemo_menu.ddsmoothmenu
      ul
        li
          a(href='index.html') Home
        li
          a(href='mentenanta.html') Mentenanta
          ul
            li
              a(href='service.html') Service
            li
              a(href='#') Recuperare Date
            li
              a(href='#') Abonamente
        li
          a.selected(href='#') Abonamente
          ul
            li
              a(href='abonament_avantaj.html') IT Avantaj
            li
              a(href='abonament_buisines_flex.html') IT Flexibil
            li
              a(href='#') IT Nelimitat
            li
              a(href='abonament_premium.html') IT Premium
        li
          a(href='externalizare.html') Externalizare
        li
          a(href='contact.html') Contact
      br(style='clear: left')
    // end of templatemo_menu
  // end of header
  #templatemo_main
    #templatemo_content
      .post_box
        h3 Abonament IT Business Nelimitat
        .post_inner
          p.post_meta &nbsp;
          p
            strong Abonamentul IT Business Nelimitat
            |  este o investitie foarte avantajoasa pentru companiile care urmaresc o reducere pe termen lung a costurilor it si pun accentul pe dezvoltarea business-ului propiu, nu pe aspectele tehnice.
            | Preturile abonamentului it Business Flexibil variaza in functie de numarul de calcultoare pentru care doriti suport tehnic de specialitate.
          p
          #TabbedPanels1.TabbedPanels
            ul.TabbedPanelsTabGroup
              li.TabbedPanelsTab(tabindex='0') Preturi
              li.TabbedPanelsTab(tabindex='0') Nivel De Suport
              li.TabbedPanelsTab(tabindex='0') Servicii IT Incluse
              li.TabbedPanelsTab(tabindex='0') Extraoptiuni
            .TabbedPanelsContentGroup
              .TabbedPanelsContent
                div
                  h4 Preturi
                  p &nbsp;
                  ul
                    li Pana la 4 calculatoare 80 EUR;
                    li 5 - 10 calculatoare 20 EUR / calculator;
                    li 11 - 20 calculatoare 16 EUR / calculator;
                    li 21 - 30 calculatoare calculator 13 EUR / calculator;
                    li 31 - 50 calculatoare 11 EUR / calculator;
                    li Peste 51 calculatoare 9.5 EUR / calculator;
                  p
                    | Abonamentul IT Business Nelimitat este un abonament it cu un inalt grad de personalizare conceput pentru sa corespunde cat mai bine nevoilor dvs.
              .TabbedPanelsContent
                h4 Nivel de suport
                p &nbsp;
                ul
                  li Suport telefonic NELIMITAT;
                  li Interventii Remote Desktop NELIMITAT;
                  li Interventii fizice NELIMITAT; 
                  li Timp maxim de raspuns (telefonic) 15 min;
                  li Timp maxim de interventie fizica 3 ore;
                  li Durata maxima a unei interventii fizice NELIMITAT.
              .TabbedPanelsContent
                h4 Servicii IT Incluse
                ul
                  li Administrare echipamente si retea interna;
                  li Administrare echipamente periferice;
                  li Administrare servere;
                  li Securizare retea;
                  li Consultanta achizitie echipamente si licente;
                  li Reincarcare consumabile;
                  li Audit IT, evidenta echipamentelor, schema retelei, propuneri de optimizare;
                  li Acces online la aplicatia de management al parcului IT;
                  li Configurare solutie de back-up;
                  li Optimizarea activitatii angajatilor prin implementarea de sisteme informatice;
                  li Serviciul Single Point of Contact;
                  li Optimizarea initiala a tuturor echipamentelor detinute;
                  li Transport (echipamente la service, reincarcare consumabile etc.);
                  li
                    | Mentenanta prevetinva a echipamentelor IT (curatare echipamente, optimizare software) 1/6 luni;
                  li
                    | Asigurare back-up remote pentru informatiile critice, realizat in datacenter  2 GB;
                  li Gazduire website/email 2 GB;
                  li Mentenanta site web (mici modificari) 2 ore/luna.
              .TabbedPanelsContent
                h4 Extraoptiuni
                p &nbsp;
                ul
                  li Spatiu gazduire magazin virtual 0.75 EUR/1GB;
                  li Asigurare back-up remote 0.75 EUR/1GB;
                  li Mentenanta site web 10 EUR/ora;
                  li Echipamente la schimb (in garantie) desktop: 15 EUR/zi, mprimanta: 5 EUR/zi;
                  li Administrare echipamente de supraveghere video 30 EUR/ora 20 EUR/ora;
                  li Administrare centrala telefonica 25 EUR/ora;
                  li Dezvoltare software, la cerere 20 EUR/ora;
                  li Manopera refacere retea interna 20 EUR/ora;
                  li Senior IT consultant 140 EUR/zi;
                  li Training utilizare PC 15 EUR/ora.
          .cleaner
    // end of content
    // end of sidebar
    .cleaner
  .cleaner
#templatemo_footer_wrapper
  #templatemo_footer
    | Copyright &copy; 2012 
    a(href='#') goodsys
script(type='text/javascript').
  var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
