doctype html
html
	head
		title= title
		link(rel='apple-touch-icon' sizes='180x180' href='/images/title/apple-touch-icon.png')
		link(rel='icon' type='image/png' sizes='32x32' href='/images/title/favicon-32x32.png')
		link(rel='icon' type='image/png' sizes='16x16' href='/images/title/favicon-16x16.png')
		link(rel='manifest' href='/images/title/site.webmanifest')
		link(rel='stylesheet' type='text/css' href='/stylesheets/style.css')
		script(type='text/javascript' src='/javascripts/script.js')
	body
		block bgVideo
			video#myVideo(autoplay muted loop)
				source( type='video/mp4' src='/videos/Organic_Lines_4K_Motion_Background_Loop.mp4')
			script.
				var vid = document.getElementById("myVideo");
				var alerted = localStorage.getItem("alerted") || "";
				if (alerted != "yes") {
					vid.oncanplaythrough = function() {
					alert("Can play through video without stopping");
					localStorage.setItem("alerted","yes");
				};
		.bg-text-full.content-container-header
			if lang == 'EN'
				include header.pug
			else if lang == 'RO'
				include headerRo.pug
			else
				include headerRO.pug
		.bg-text-full.content-container-body
			if lang == 'EN'
				block contentTop
				block content
			else if lang == 'RO'
				block contentTopRO
				block contentRO
			else
				block contentTopRO
				block contentRO
		.bg-text-full
			hr
			if lang == 'EN'
				include footer.pug
			else if lang == 'RO'
				include footerRO.pug
			else
				include footerRO.pug
