doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .bg-text-full
      if lang == 'EN'
        include header.jade
      else if lang == 'RO'
        include headerRo.jade
      else
        include headerRO.jade
    .bg-text-full
      if lang == 'EN'
        block contentTop
        block content
      else if lang == 'RO'
        block contentTopRO
        block contentRO
      else
        block contentTopRO
        block contentRO
    .bg-text-full
      hr
      if lang == 'EN'
        include footer.jade
      else if lang == 'RO'
        include footerRO.jade
      else
        include footerRO.jade
    script(src='/javascripts/script.js')
