extends layout

block contentTopRO
  .text-container
    h1 Mentenanta IT
block contentRO
    h2 Informatii
    p
      |Mentenanta IT hardware si software consta in inspectarea frecventa a echipamentelor it in scopul   prevenirii situatiilor de nefunctionare a acestora, intretinerii, remedierii defectelor constatate, inlocuirii consumabilelor atunci cand   este necesar s.a.
                 Serviciul nostru de mentenanta IT include   interventii de asistenta tehnica, prestabilite sau, la cerere, ori de   cate ori este necesar. </p>
                 <p>GoddSys asigura mentenanta it pentru calculatoare,   servere si retele informatice pe baza de abonament lunar (SLA - Service   Level Agreement).                      Pentru fiecare client, efectuam o analiza detaliata a   echipamentelor it de lucru, a functionalitatii sistemului informatic si   a cerintelor companiei. Pe baza analizei, vom stabili cel mai bun   abonament de mentenanta it care sa corespunda nevoilor reale din firma   dvs.</p>
                  
                  <div id="main">
                    <div id="main-inside">
                      <div id="content_full">
                        <p>Prin abonamentele noastre de mentenanta, GoodSys va ofera garantia   unor servicii de calitate privind intretinerea echipamentelor dvs. IT. </p>
                        <h4>Mentenanta it asigura nivelul optim de functionalitate echipamentelor.</h4>
In 80% din cazuri echipamentele se strica pentru ca nu   sunt verificate periodic. Ati putea prelungi viata echipamentelor cu   minimum 1 an in conditiile unei mentenante IT corespunzatoare.
<p>Noi ne ocupam de prevenirea si solutionarea tuturor   acestor probleme care tind sa afecteze activitatea normala a companiei   dvs. Firma noastra dispune de un personal calificat pentru astfel de   situatii. In plus, pretul abonamentelor noastre, in marea majoritate a   situatiilor, sunt mai mici decat in cazul in care ati angaja o singura   persoana care sa se ocupe de aceste operatiuni.</p>
                        <h4>Avantajele incheierii unui contract de mentenanta it</h4>
                        <ul>
                          <li>Ne ocupam de intretinerea intregii dvs.   infrastructuri it cu costuri mai mici decat salariul unui singur angajat   al departamentului it;</li>
                          <li>Colaborati cu o echipa pregatita, aflata oricand la dispozitia dvs.;</li>
                          <li>Timp de rezolvare garantat;</li>
                          <li>Timp de interventie garantat;</li>
                          <li>In urma actiunilor noastre permanente de   monitorizare si backup, datele dvs. sunt in siguranta, riscul de a   pierde informatii critice fiind mult diminuat;</li>
                          <li> <strong>Sunteti asigurat contractual</strong>,   in cazul in care acestea au fost cauzate in urma unei interventiei   noastre. Aceste situatii sunt situatii extrem de rare, insa, consideram   ca partenerii nostri trebuie sa aiba garantia si siguranta unei lucrari   de calitate, care sa nu implice costuri suplimentare neasteptate. </li>
                        </ul>
                        <h4>Structura serviciilor noastre de mentenanta IT</h4>
                        <ul>
                          <li><strong>Mentenanta IT predictiva</strong> consta   in vizite periodice la sediul clientului, in urma carora vor fi   efectuate revizii generale asupra echipamentelor IT in baza planului de   revizii agreat de catre compania dvs. Scopul acestor revizii este de a   preintampina posibile defectiuni;</li>
                          <li><strong>Mentenanta IT corectiva</strong> consta   in interventii la sediul clientului, ca urmare a semnalarii unei   probleme de nefunctionare. Timpul de raspuns si de interventie este   garantat.</li>
                        </ul>
                        <h4>Servicii de mentenanta it hardware</h4>
                        <ul>
                          <li>Diagnosticare si depanare defectiuni hardware;</li>
                          <li>Instalare componente noi si verificarea compatibilitatii acestora;</li>
                          <li>Curatarea interna de praf a calculatoarelor pentru preintampinarea defectiunilor;</li>
                          <li>Instalare echipamente periferice;</li>
                          <li>Update si opimizare BIOS</li>
                          <li>Testarea echipamentelor hardware.</li>
                        </ul>
                        <h4>Servicii de mentenanta it software</h4>
                        <p>Instalam si configuram orice pachet software -   sisteme de operare sau aplicatii. Va punem la dispozitie atat solutii   open source cat si licentiate. </p>