extends layout.pug

block contentTop
	.text-container
		h1 IT Maintenance
block content
	h2 Details
	hr
	.text-container.full-width
		.text-container.third-width
			p
			|IT hardware and software maintenance consists in the frequent inspection of IT equipment in order to
			| prevent situations of their malfunction, maintenance, repair of defects found, replacement of
			| consumables when necessary, etc. Our IT maintenance service includes technical assistance
			| interventions, pre-arranged or, on request, whenever necessary.
			br
			br
		.text-container.third-width
			p
			|GoodSys provides IT maintenance for computers, servers and computer networks on a monthly subscription
			| basis (SLA - Service Level Agreement). For each client, we perform a detailed analysis of the
			| IT work equipment, the functionality of the information system and the company's requirements.
			| Based on the analysis, we will establish the best IT maintenance subscription that corresponds
			| to the real needs of your company.
		.text-container.third-width
			p
			|Through our maintenance subscriptions, GoodSys offers you the guarantee of quality services
			| regarding the maintenance of your IT equipment.
			br
			br
			br
			br
			br
	.text-container.full-width
		h4 IT maintenance ensures the optimal level of functionality of the equipment.
		.text-container.half-width
			p
			|In 80% of cases the equipment breaks down because it is not checked periodically.
			| You could extend the life of the equipment by at least 1 year under proper IT maintenance.
			br
			br
			br
		.text-container.half-width
			p
			|We deal with the prevention and solution of all these problems that tend to affect the normal
			| activity of your company. Our company has a qualified staff for such situations. In addition,
			| the price of our subscriptions, in the vast majority of situations, is lower than if you
			| hired a single person to handle these operations.
	.text-container.full-width
		h4 The advantages of concluding an IT maintenance contract:
		.text-container.full-width
			ul
				li
					|We take care of the maintenance of your entire IT infrastructure with costs
					| lower than the salary of a single employee of the IT department;
				li
					|Collaborate with a prepared team, always at your disposal;
				li
					|Guaranteed resolution time;
				li
					|Guaranteed intervention time;
				li
					|As a result of our permanent monitoring and backup actions, your data is safe,
					| the risk of losing critical information being greatly diminished;
				li
					strong You are contractually insured
					|, if they were caused by our intervention. These situations are extremely rare
					| situations, but we believe that our partners must have the guarantee and safety
					| of a quality work, which does not involve unexpected additional costs.
	.text-container.full-width
		h4 The structure of our IT maintenance services:
		.text-container.full-width
			ul
				li
					strong Predictive IT maintenance
					|  consists of regular visits to the customer's premises, following which general
					| overhauls will be performed on the IT equipment based on the overhaul plan approved
					| by your company. The purpose of these overhauls is to prevent possible failures;
				li
					strong Corrective IT maintenance
					|  consists in interventions at the client's premises, as a result of signaling a
					| malfunction problem. Response and intervention time is guaranteed.
	.text-container.full-width
		.text-container.half-width
			h4 IT hardware maintenance services:
			.text-container.full-width
				ul
					li Diagnosing and troubleshooting hardware failures;
					li Installation of new components and checking their compatibility;
					li Internal dust cleaning of computers to prevent malfunctions;
					li Installation of peripheral equipment;
					li BIOS update and optimization;
					li Hardware testing.
		.text-container.half-width
			h4 IT software maintenance services:
			.text-container.full-width
				p
					|We install and configure any software package - operating systems or applications.
					| We provide both open source and licensed solutions.
					br
					br
					br
					br
block contentTopRO
	.text-container
		h1 Mentenanta IT
block contentRO
	h2 Informatii
	hr
	.text-container.full-width
		.text-container.third-width
			p
				|Mentenanta IT hardware si software consta in inspectarea frecventa a echipamentelor IT in scopul
				| prevenirii situatiilor de nefunctionare a acestora, intretinerii, remedierii defectelor constatate,
				| inlocuirii consumabilelor atunci cand este necesar s.a.
				| Serviciul nostru de mentenanta IT include interventii de asistenta tehnica, prestabilite sau,
				| la cerere, ori de cate ori este necesar.
				br
				br
		.text-container.third-width
			p
				|GoodSys asigura mentenanta IT pentru calculatoare, servere si retele informatice pe baza de
				| abonament lunar (SLA - Service Level Agreement).
				| Pentru fiecare client, efectuam o analiza detaliata a echipamentelor IT de lucru, a functionalitatii
				| sistemului informatic si a cerintelor companiei. Pe baza analizei, vom stabili cel mai bun abonament
				| de mentenanta IT care sa corespunda nevoilor reale din firma dvs.
		.text-container.third-width
			p
				|Prin abonamentele noastre de mentenanta, GoodSys va ofera garantia unor servicii de calitate privind
				| intretinerea echipamentelor dvs. IT.
				br
				br
				br
				br
				br
	.text-container.full-width
		h4 Mentenanta IT asigura nivelul optim de functionalitate echipamentelor.
		.text-container.half-width
			p
				|In 80% din cazuri echipamentele se strica pentru ca nu sunt verificate periodic. Ati putea prelungi
				| viata echipamentelor cu minimum 1 an in conditiile unei mentenante IT corespunzatoare.
				br
				br
				br
		.text-container.half-width
			p
				|Noi ne ocupam de prevenirea si solutionarea tuturor acestor probleme care tind sa afecteze activitatea
				| normala a companiei dvs. Firma noastra dispune de un personal calificat pentru astfel de situatii.
				| In plus, pretul abonamentelor noastre, in marea majoritate a situatiilor, sunt mai mici decat in
				| cazul in care ati angaja o singura persoana care sa se ocupe de aceste operatiuni.
	.text-container.full-width
		h4 Avantajele incheierii unui contract de mentenanta IT
		.text-container.full-width
			ul
				li
					|Ne ocupam de intretinerea intregii dvs. infrastructuri IT cu costuri
					| mai mici decat salariul unui singur angajat al departamentului IT;
				li
					|Colaborati cu o echipa pregatita, aflata oricand la dispozitia dvs.;
				li
					|Timp de rezolvare garantat;
				li
					|Timp de interventie garantat;
				li
					|In urma actiunilor noastre permanente de monitorizare si backup, datele dvs.
					| sunt in siguranta, riscul de a pierde informatii critice fiind mult diminuat;
				li
					strong Sunteti asigurat contractual
					|, in cazul in care acestea au fost cauzate in urma unei interventiei noastre.
					| Aceste situatii sunt situatii extrem de rare, insa, consideram ca partenerii
					| nostri trebuie sa aiba garantia si siguranta unei lucrari de calitate,
					| care sa nu implice costuri suplimentare neasteptate.
	.text-container.full-width
		h4 Structura serviciilor noastre de mentenanta IT
		.text-container.full-width
			ul
				li
					strong Mentenanta IT predictiva
					|  consta in vizite periodice la sediul clientului, in urma carora vor fi efectuate
					| revizii generale asupra echipamentelor IT in baza planului de revizii agreat de
					| catre compania dvs. Scopul acestor revizii este de a preintampina posibile defectiuni;
				li
					strong Mentenanta IT corectiva
					|  consta in interventii la sediul clientului, ca urmare a semnalarii unei probleme
					| de nefunctionare. Timpul de raspuns si de interventie este garantat.
	.text-container.full-width
		.text-container.half-width
			h4 Servicii de mentenanta IT hardware
			.text-container.full.width
				ul
					li Diagnosticare si depanare defectiuni hardware;
					li Instalare componente noi si verificarea compatibilitatii acestora;
					li Curatarea interna de praf a calculatoarelor pentru preintampinarea defectiunilor;
					li Instalare echipamente periferice;
					li Update si optimizare BIOS;
					li Testarea echipamentelor hardware.
		.text-container.half-width
			h4 Servicii de mentenanta IT software
			.text-container.full-width
				p
					|Instalam si configuram orice pachet software - sisteme de operare sau aplicatii.
					| Va punem la dispozitie atat solutii open source cat si licentiate.
					br
					br
					br
					br
