extends layout.pug

block contentTop
	.text-container-title(style = "height: 700px; background-image: url('/images/outsourcing.jpg');background-position: top;background-repeat: no-repeat;background-size: cover;")
		h1(style = "width:500px; background-color: black") Externalizare IT
		h2(style = "width:300px; float: right; background-color: grey") Informatii
block content
	hr
	.text-container
		h2
			p
				|Oferim Externalizare IT
				| profesionala pentru companiile din Cernavoda care doresc sa se elibereze de problemele care pot aparea
				| la nivelul infrastructurii si departamentului IT si, astfel, sa isi poata concentra eforturile pe
				| directiile principale ale business-ului.
	.text-container
		p
			|Incheind un contract de externalizare IT cu noi, beneficiati de reducerea costurilor IT si, in acelasi timp,
			| capatati un control total, previzibil si transparent asupra acestora. Veti fi mai mult decat incantati de
			| disponibilitatea mare a serviciului si de suportul angajatilor nostri. Experienta, calificarile si certificarile
			| membrilor echipei noastre, ofera suportul necesar pentru servicii IT de calitate, la un inalt nivel de profesionalism.
		p
			|Prin Externalizare IT beneficiati de toata gama noastra de servicii it: Helpdesk, Mentenanta IT, Consultanta IT,
			| Reparatii IT, Gazduire si Promovare Site, toate integrate intr-un pachet complet personalizabil si adaptat cerintelor dvs.
		p
			|Preturile abonamentelor de externalizare IT incep de la 64 lei si pot fi configurate astfel incat sa corespunda perfect cerintelor dvs.
	h3 Ce este externalizarea IT?
	.text-container
		p
			|Externalizare IT
			|(IT Outsourcing) inseamna colaborarea cu o companie care sa asigure functiile ce in mod normal sunt realizate de un angajat
			| in cazul unei companii mici sau de un department IT propriu, in cazul unei companii mai mari.
	h3 Avantajele sistemului nostru de externalizare IT
	.text-container.third-width
		ul
			li
				|Puneti capat tuturor problemelor de natura it, atat hardware cat si software, de la reparatii de echipamente
				| IT pana la configurare servere. In plus, beneficiati de consultanta si suport tehnic de specialitate GRATUIT;
			li
				|Apelati la noi doar atunci cand aveti nevoie si intervenim doar cand e necesar;
			li
				|Putem prelua responsabilitatile intregului dvs. departament IT;
			li
				|Beneficiati de experienta si cunostintele unei echipe intregi platind mai putin decat pentru un angajat;
			li
				|Raspundem contractual pentru tot ce facem, oferindu-va dvs. un control mai bun asupra rezultatelor pe care le primiti;
			li
				|Reduceti substantial atat costurile operationale cat si cele de capital, generate atat de angajatii IT prin
				| salarizare, traininguri de specialitate, echipamente acestora s.a. Si evitati problemele legate de rulajul de personal;
			li
				|Beneficiati de oferte de externalizare IT personalizate in functie de cerintele reale ale activitatii dvs.;
			li
				|Timp de raspuns si interventie garantat;
			li
				|Consultanta in domeniu si pentru achizitii IT si software;
				| beneficiati de servicii personalizate;
			li
				|Centralizati tot ce inseamna IT in companie;
	.text-container.third-width
		h3 Externalizare IT vs. departament propriu
		.text-container
			p
				|Externalizarea IT este o modalitate mai avantajoasa sub aspect calitativ si financiar in raport cu crearea si mentinerea unui departament IT propriu.
			ul
				li
					strong Sub aspectul calitatii.
					|  Un angajat, indiferent de gradul sau de pregatire sau experienta, nu poate poate cunoaste toate domeniile IT. In schimb,
					| o firma specializata are oameni certificati si calificati pentru multe aspecte din acest domeniu. Intotdeauna va fi
					| cineva care sa detina solutia unei probleme si, in consecinta, poate sa raspunda prompt si intr-un mod eficient solicitarii primite.
				li
					strong Sub aspectul costurilor.
					|  Un angajat al departamentului IT genereaza costuri de aproximativ 2000 RON (salariu mediu plus taxe la stat), la care se adauga
					| asigurarea conditiilor de lucru, teambuilding-uri si alte bonusuri. In cazul in care alegeti serviciile noastre externalizare
					|it veti realiza economii considerabile.
			p
				|Spre exemplu, pentru o firma cu 15 calculatoare plus server, periferice si elemente de retelistica ati avea nevoie de un abonament
				| situat undeva in jurul sumei de 600 RON, o suma de aproximativ 3 ori mai mica si integral deductibila TVA. Diferenta de bani o puteti
				| reinvesti in echipamente noi, sau sa va sprijiniti investitiile din alte departamente.
	.text-container
		h3 Externalizare IT inseamna infrastructura de crestere
		.text-container
			p
				|Din punctul de vedere al resurselor umane, este foarte greu de organizat un intreg departament IT intern care sa tina pasul cu un mediu de
				| business extrem de dinamic. Daca sunt adusi prea multi oameni, riscati sa creati un departament supradimensionat, in care nu toata lumea are
				| incarcare 100%. La cealalta extreme este situatia unui numar insuficient de angajati. Externalizarea IT ofera o solutie scalabila pentru
				| controlul proceselor companiei. Serviciile noaste de externalizare IT sunt structurate in asa fel incat sa va permita sa raspundeti prompt
				| schimbarilor de pe piata - sau a celor din compania dvs.
			p
				|Prin externalizare obtineti costuri scazute pentru IT si garantia pastrarii cunostintelor specifice a sistemelor dumneavoastra informatice
				| in baza noastra de date si folosirea lor indiferent de operator. Veti beneficia de asemenea de personal cu o experienta vasta, dobandita prin
				|rezolvarea unui numar mare de probleme precum si de timpi foarte buni de raspuns datorita folosirii unei baze de date de solutii deja testate.
			p
				|Externalizand serviciile IT dispar impozitele si taxele aditionale salariului pentru un administrator IT, care aproape va dubleaza costurile.
				| Costurile mult mai mici decat in cazul unui administrator de retea intern!
	h3 In ce situatii recomandam sa apelati la servicii de externalizare IT?
	.text-container
		ul
			li
				|Un motiv de externalizare IT este cazul in care activitatea IT nu tine de core-business-ul companiei dvs. In acest caz, veti elimina problemele
				| frecvente ce apar la nivelul retelelor de calculatoare, echipamentelor informatice, pachetelor software s.a. In plus, veti reduce considerabil
				| costurile departamentului IT sau il puteti elimina intr-u totul. Noi preluam asupra noastra intreaga sarcina a departamentului IT lasandu-va
				| libertatea de a va putea concentra pe activitatea dvs. de baza.
			li
				|Un alt caz favorabil externalizarii IT este reprezentat de acele activitati IT care solicita un input mare de know-how. Dupa cum bine stiti,
				| domeniul IT este unul vast si de cele mai multe ori impune companiilor prezenta unor oameni extrem de pregatiti, ceea ce este extrem de dificil
				| pentru o companie al carei obiect de activitate nu are legatura cu domeniul IT.
block contentTopRO
	.text-container-title(style = "height: 700px; background-image: url('/images/outsourcing.jpg');background-position: top;background-repeat: no-repeat;background-size: cover;")
		h1(style = "width:500px; background-color: black") Externalizare IT
		h2(style = "width:300px; float: right; background-color: grey") Informatii
block contentRO
	hr
	.text-container
		.text-container
			h2
				p
					|Oferim Externalizare IT
					| profesionala pentru companiile din Cernavoda care doresc sa se elibereze de problemele care pot aparea
					| la nivelul infrastructurii si departamentului IT si, astfel, sa isi poata concentra eforturile pe
					| directiile principale ale business-ului.
		.text-container
			p
				|Incheind un contract de externalizare IT cu noi, beneficiati de reducerea costurilor IT si, in acelasi timp,
				| capatati un control total, previzibil si transparent asupra acestora. Veti fi mai mult decat incantati de
				| disponibilitatea mare a serviciului si de suportul angajatilor nostri. Experienta, calificarile si certificarile
				| membrilor echipei noastre, ofera suportul necesar pentru servicii IT de calitate, la un inalt nivel de profesionalism.
			p
				|Prin Externalizare IT beneficiati de toata gama noastra de servicii it: Helpdesk, Mentenanta IT, Consultanta IT,
				| Reparatii IT, Gazduire si Promovare Site, toate integrate intr-un pachet complet personalizabil si adaptat cerintelor dvs.
			p
				|Preturile abonamentelor de externalizare IT incep de la 64 lei si pot fi configurate astfel incat sa corespunda perfect cerintelor dvs.
	h3 Ce este externalizarea IT?
	.text-container
		p
			|Externalizare IT
			|(IT Outsourcing) inseamna colaborarea cu o companie care sa asigure functiile ce in mod normal sunt realizate de un angajat
			| in cazul unei companii mici sau de un department IT propriu, in cazul unei companii mai mari.
	h3 Avantajele sistemului nostru de externalizare IT
	.text-container.third-width
		ul
			li
				|Puneti capat tuturor problemelor de natura it, atat hardware cat si software, de la reparatii de echipamente
				| IT pana la configurare servere. In plus, beneficiati de consultanta si suport tehnic de specialitate GRATUIT;
			li
				|Apelati la noi doar atunci cand aveti nevoie si intervenim doar cand e necesar;
			li
				|Putem prelua responsabilitatile intregului dvs. departament IT;
			li
				|Beneficiati de experienta si cunostintele unei echipe intregi platind mai putin decat pentru un angajat;
			li
				|Raspundem contractual pentru tot ce facem, oferindu-va dvs. un control mai bun asupra rezultatelor pe care le primiti;
			li
				|Reduceti substantial atat costurile operationale cat si cele de capital, generate atat de angajatii IT prin
				| salarizare, traininguri de specialitate, echipamente acestora s.a. Si evitati problemele legate de rulajul de personal;
			li
				|Beneficiati de oferte de externalizare IT personalizate in functie de cerintele reale ale activitatii dvs.;
			li
				|Timp de raspuns si interventie garantat;
			li
				|Consultanta in domeniu si pentru achizitii IT si software;
				| beneficiati de servicii personalizate;
			li
				|Centralizati tot ce inseamna IT in companie;
	.text-container.third-width
		h3 Externalizare IT vs. departament propriu
		.text-container
			p
				|Externalizarea IT este o modalitate mai avantajoasa sub aspect calitativ si financiar in raport cu crearea si mentinerea unui departament IT propriu.
			ul
				li
					strong Sub aspectul calitatii.
					|  Un angajat, indiferent de gradul sau de pregatire sau experienta, nu poate poate cunoaste toate domeniile IT. In schimb,
					| o firma specializata are oameni certificati si calificati pentru multe aspecte din acest domeniu. Intotdeauna va fi
					| cineva care sa detina solutia unei probleme si, in consecinta, poate sa raspunda prompt si intr-un mod eficient solicitarii primite.
				li
					strong Sub aspectul costurilor.
					|  Un angajat al departamentului IT genereaza costuri de aproximativ 2000 RON (salariu mediu plus taxe la stat), la care se adauga
					| asigurarea conditiilor de lucru, teambuilding-uri si alte bonusuri. In cazul in care alegeti serviciile noastre externalizare
					|it veti realiza economii considerabile.
			p
				|Spre exemplu, pentru o firma cu 15 calculatoare plus server, periferice si elemente de retelistica ati avea nevoie de un abonament
				| situat undeva in jurul sumei de 600 RON, o suma de aproximativ 3 ori mai mica si integral deductibila TVA. Diferenta de bani o puteti
				| reinvesti in echipamente noi, sau sa va sprijiniti investitiile din alte departamente.
	.text-container
		h3 Externalizare IT inseamna infrastructura de crestere
		.text-container
			p
				|Din punctul de vedere al resurselor umane, este foarte greu de organizat un intreg departament IT intern care sa tina pasul cu un mediu de
				| business extrem de dinamic. Daca sunt adusi prea multi oameni, riscati sa creati un departament supradimensionat, in care nu toata lumea are
				| incarcare 100%. La cealalta extreme este situatia unui numar insuficient de angajati. Externalizarea IT ofera o solutie scalabila pentru
				| controlul proceselor companiei. Serviciile noaste de externalizare IT sunt structurate in asa fel incat sa va permita sa raspundeti prompt
				| schimbarilor de pe piata - sau a celor din compania dvs.
			p
				|Prin externalizare obtineti costuri scazute pentru IT si garantia pastrarii cunostintelor specifice a sistemelor dumneavoastra informatice
				| in baza noastra de date si folosirea lor indiferent de operator. Veti beneficia de asemenea de personal cu o experienta vasta, dobandita prin
				|rezolvarea unui numar mare de probleme precum si de timpi foarte buni de raspuns datorita folosirii unei baze de date de solutii deja testate.
			p
				|Externalizand serviciile IT dispar impozitele si taxele aditionale salariului pentru un administrator IT, care aproape va dubleaza costurile.
				| Costurile mult mai mici decat in cazul unui administrator de retea intern!
	h3 In ce situatii recomandam sa apelati la servicii de externalizare IT?
	.text-container
		ul
			li
				|Un motiv de externalizare IT este cazul in care activitatea IT nu tine de core-business-ul companiei dvs. In acest caz, veti elimina problemele
				| frecvente ce apar la nivelul retelelor de calculatoare, echipamentelor informatice, pachetelor software s.a. In plus, veti reduce considerabil
				| costurile departamentului IT sau il puteti elimina intr-u totul. Noi preluam asupra noastra intreaga sarcina a departamentului IT lasandu-va
				| libertatea de a va putea concentra pe activitatea dvs. de baza.
			li
				|Un alt caz favorabil externalizarii IT este reprezentat de acele activitati IT care solicita un input mare de know-how. Dupa cum bine stiti,
				| domeniul IT este unul vast si de cele mai multe ori impune companiilor prezenta unor oameni extrem de pregatiti, ceea ce este extrem de dificil
				| pentru o companie al carei obiect de activitate nu are legatura cu domeniul IT.
