extends layout.pug

block contentTop
	.text-container-title(style = "height: 700px; background-image: url('/images/bg-itprojectmanagement.jpg');background-position: top;background-repeat: no-repeat;background-size: cover;")
		h1(style = "width:300px; background-color: black") Projects
		if project == "project1"
			h2(style = "width:300px; float: right; background-color: grey") 1
		else if project == "project2"
			h2(style = "width:300px; float: right; background-color: grey") 2
		else if project == "project3"
			h2(style = "width:300px; float: right; background-color: grey") 3
		else if project == "project4"
			h2(style = "width:300px; float: right; background-color: grey") 4
		else
			h2(style = "width:300px; float: right; background-color: grey") Details
block content
	if project == "project1"
		h2 Not Found
	else if project == "project2"
		h2 Not Found
	else if project == "project3"
		h2 Not Found
	else if project == "project4"
		h2 Not Found
	else
		h2 Content
block contentTopRO
	.text-container-title(style = "height: 700px; background-image: url('/images/bg-itprojectmanagement.jpg');background-position: top;background-repeat: no-repeat;background-size: cover;")
		h1(style = "width:300px; background-color: black") Proiecte
		if project == "project1"
			h2(style = "width:300px; float: right; background-color: grey") 1
		else if project == "project2"
			h2(style = "width:300px; float: right; background-color: grey") 2
		else if project == "project3"
			h2(style = "width:300px; float: right; background-color: grey") 3
		else if project == "project4"
			h2(style = "width:300px; float: right; background-color: grey") 4
		else
			h2(style = "width:300px; float: right; background-color: grey") Informatii
block contentRO
	if project == "project1"
		h2 Not Found
	else if project == "project2"
		h2 Not Found
	else if project == "project3"
		h2 Not Found
	else if project == "project4"
		h2 Not Found
	else
		h2 Continut