extends layout.pug

block contentTop
	.text-container-title(style = "height: 700px; background-image: url('/images/add-it-support.jpg');background-position: top;background-repeat: no-repeat;background-size: cover; image-rendering: auto")
		h1(style = "width:500px; background-color: black") Service IT
		h2(style = "width:300px; float: right; background-color: grey") Informatii
block content
	hr
	.text-container
		h2
			p
				|Efectuam reparatii it incluzand servicii hardware si software pentru o gama variata de echipamente informatice,
				| sisteme de operare si aplicatii software. Cu noi, problemele legate de nefunctionarea imprimantei, a statiilor
				| de lucru sau a serverului sunt de domeniul trecutului.
	.text-container
		h4 Va oferim servicii IT de calitate
		.text-container
			p
				|Nu irositi timp pretios daca nu dispuneti de cunostintele si mijloacele necesare pentru efectuarea reparatiei,
				| apelati la noi si problema se va rezolva intr-un mod sigur, rapid si economic. Echipa noastra de profesionisti
				| efectueaza reparatii it pentru o gama larga de echipamente hardware si software. Oferim servicii it de reparatii
				| in service-ul nostru sau la sediul clientului - in Cernavoda, daca situatia necesita o interventie rapida on-site.
	.text-container
		h4 Ce presupun serviciile noastre de reparatii it?
		.text-container
			ul
				strong Reparatii it hardware:
				li
					|constatarea (diagnoza) - identificarea componentei defecte;
				li
					|reparatia - inlocuirea componentei defecte pe loc (in caz de urgenta,
					| daca dispunem de componenta respectiva) sau ulterior dupa achizitionarea componentei in cauza;
				li
					|testarea - verificarea sistemului in noua configuratie.
		.text-container
			ul
				strong Reparatii it de natura software:
				li
					|constantarea (diagnoza) - identificarea problemei din punct de vedere tehnic, apoi dupa caz
					|executam reinstalare sistem de operare / programe si aplicatii sau repararea / dezinfectarea de virusi sau trojani informatici ;
				li
					|instalarea - instalarea si configurarea de sisteme de operare (Microsoft Windows), aplicatii software etc.;
				li
					|devirusarea - scanarea sistemelor infectate, devirusarea si asigurarea securitatii sistemului;
				li
					|optimizarea - verificarea calculatorului sau laptopului in noua configuratie.
		.text-container
			h4 Diagnosticarea echipamentelor
			.text-container
				p
					|Echipamentul receptionat este analizat de catre tehnicienii nostri in reparatii it. Acestia identifica defectiunea si va
					| contacteaza pentru a va comunica situatia acestia urmand ca dvs. sa alegeti daca ne lasati pe noi sa efectuam reparatia
					| sau alegeti un alt service. Daca ne alegeti pe noi, pretul diagnozei este zero. Pentru restul situatiilor, percepem un
					| pret unic de analiza si diagnoza a echipamentelor de 15 euro + TVA.
				p
					|In cadrul abonamentelor de mentenanta it si externalizare, pretul diagnozei, cat si cel al reparatiei este gratuit,
					| inclus in pretul abonamentului.
block contentTopRO
	.text-container-title(style = "height: 700px; background-image: url('/images/add-it-support.jpg');background-position: top;background-repeat: no-repeat;background-size: cover; image-rendering: auto")
		h1(style = "width:500px; background-color: black") Service IT
		h2(style = "width:300px; float: right; background-color: grey") Informatii
block contentRO
	hr
	.text-container
		h2
			p
				|Efectuam reparatii it incluzand servicii hardware si software pentru o gama variata de echipamente informatice,
				| sisteme de operare si aplicatii software. Cu noi, problemele legate de nefunctionarea imprimantei, a statiilor
				| de lucru sau a serverului sunt de domeniul trecutului.
	.text-container
		h4 Va oferim servicii IT de calitate
		.text-container
			p
				|Nu irositi timp pretios daca nu dispuneti de cunostintele si mijloacele necesare pentru efectuarea reparatiei,
				| apelati la noi si problema se va rezolva intr-un mod sigur, rapid si economic. Echipa noastra de profesionisti
				| efectueaza reparatii it pentru o gama larga de echipamente hardware si software. Oferim servicii it de reparatii
				| in service-ul nostru sau la sediul clientului - in Cernavoda, daca situatia necesita o interventie rapida on-site.
	.text-container
		h4 Ce presupun serviciile noastre de reparatii it?
		.text-container
			ul
				strong Reparatii it hardware:
				li
					|constatarea (diagnoza) - identificarea componentei defecte;
				li
					|reparatia - inlocuirea componentei defecte pe loc (in caz de urgenta,
					| daca dispunem de componenta respectiva) sau ulterior dupa achizitionarea componentei in cauza;
				li
					|testarea - verificarea sistemului in noua configuratie.
		.text-container
			ul
				strong Reparatii it de natura software:
				li
					|constantarea (diagnoza) - identificarea problemei din punct de vedere tehnic, apoi dupa caz
					|executam reinstalare sistem de operare / programe si aplicatii sau repararea / dezinfectarea de virusi sau trojani informatici ;
				li
					|instalarea - instalarea si configurarea de sisteme de operare (Microsoft Windows), aplicatii software etc.;
				li
					|devirusarea - scanarea sistemelor infectate, devirusarea si asigurarea securitatii sistemului;
				li
					|optimizarea - verificarea calculatorului sau laptopului in noua configuratie.
		.text-container
			h4 Diagnosticarea echipamentelor
			.text-container
				p
					|Echipamentul receptionat este analizat de catre tehnicienii nostri in reparatii it. Acestia identifica defectiunea si va
					| contacteaza pentru a va comunica situatia acestia urmand ca dvs. sa alegeti daca ne lasati pe noi sa efectuam reparatia
					| sau alegeti un alt service. Daca ne alegeti pe noi, pretul diagnozei este zero. Pentru restul situatiilor, percepem un
					| pret unic de analiza si diagnoza a echipamentelor de 15 euro + TVA.
				p
					|In cadrul abonamentelor de mentenanta it si externalizare, pretul diagnozei, cat si cel al reparatiei este gratuit,
					| inclus in pretul abonamentului.