extends layout.pug

block contentTop
	.text-container-title(style = "height: 700px; background-image: url('/images/bussiness-plans.jpg');background-position: top;background-repeat: no-repeat;background-size: cover;")
		h1(style = "width:300px; background-color: black") Subscriptions
		if subscription == "advantage"
			h2(style = "width:300px; float: right; background-color: grey") IT Advantage
		else if subscription == "flexible"
			h2(style = "width:300px; float: right; background-color: grey") IT Flexible
		else if subscription == "unlimited"
			h2(style = "width:300px; float: right; background-color: grey") IT Bussiness Unlimited
		else if subscription == "premium"
			h2(style = "width:300px; float: right; background-color: grey") IT Bussiness Premium
		else
			h2(style = "width:300px; float: right; background-color: grey") Informatii
block content
	if subscription == "advantage"
		h2 Not Found
	else if subscription == "flexible"
		h2 Not Found
	else if subscription == "unlimited"
		h2 Not Found
	else if subscription == "premium"
		include it-premium.pug
	else
		h2 Content
block contentTopRO
	.text-container-title(style = "height: 700px; background-image: url('/images/bussiness-plans.jpg');background-position: top;background-repeat: no-repeat;background-size: cover;")
		h1(style = "width:300px; background-color: black") Abonamente
		if subscription == "advantage"
			h2(style = "width:300px; float: right; background-color: grey") IT Avantaj
		else if subscription == "flexible"
			h2(style = "width:300px; float: right; background-color: grey") IT Flexibil
		else if subscription == "unlimited"
			h2(style = "width:300px; float: right; background-color: grey") IT Bussiness Nelimitat
		else if subscription == "premium"
			h2(style = "width:300px; float: right; background-color: grey") IT Bussiness Premium
		else
			h2(style = "width:300px; float: right; background-color: grey") Detalii
block contentRO
	if subscription == "advantage"
		h2 Not Found
	else if subscription == "flexible"
		h2 Not Found
	else if subscription == "unlimited"
		h2 Not Found
	else if subscription == "premium"
		include it-premiumRO.pug
	else
		h2 Continut
