/* CSS Styles */


/* -->Header Content<-- */

/* -->Style the Navigation Bar */
nav {
  display: block;
  margin: auto;

  width: 300px;

  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  text-align: center;
  color: inherit;

  position: absolute;
  z-index: 3;
}

nav a {
  padding: 5px 0px;

  z-index: 4;
}
/* <-- */

header {
  display: inline-table;
  margin: auto;

  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  text-align: center;
  color: inherit;
  list-style-type: none;

  background-color: rgba(0,0,0, 0.7);

  position: relative;
  z-index: 2;
}

header ul {
  display: inherit;
  margin: auto;
  
  position: absolute;
  z-index: 4;
}

header li {
  display: inherit;
  margin: auto;

  z-index: 4;
}

header li a {
  display: inherit;
  margin: auto;

	min-width: 300px;
  height: 40px;
  
  line-height: 40px;

	background: rgba(44, 62, 80, 0.7);
  
  position: relative;
  z-index: 4;
}

header li a:hover {
  background: rgba(39, 174, 96, 0.7);
}

header li:hover ul li a {
  display: inherit;
  margin: auto;
	
  transition: 0.5s;
  position: relative;
  z-index: 4;
}

header li ul {
  display: none;
}

header li ul li {
  display: inherit;
  margin: auto;

  position: relative;
  float: none;
  z-index: 4;
}

header li ul li a {
  display: inherit;
  margin: auto;

	width: auto;
  min-width: 300px;

  background-color: rgba(60, 140, 230, 0.7);

  position: relative;
  z-index: 4;
}

header ul li a:hover+.hide, .hide:hover {
  display: inherit;
  margin: auto;

  position: relative;
  z-index: 4;
}

header input[type="checkbox"] {
  display: none;
}

header input[type="checkbox"]:checked~#menu {
  display: inherit;
  margin: auto;

  position: relative;
  z-index: 4;
}

header .show-menu {
  display: none;
}

/* -->Language Selector */
a.language-select {
  padding: 5px 0px;

  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  text-align: center;
  color: inherit;
  list-style-type: none;

  z-index: 3;
}

a.language-select+ul {
  display: none;
}

a.language-select li {
  display: inherit;
  margin: auto;

  position: relative;
  z-index: 4;
}

a.language-select li a {
  display: inherit;
  margin: auto;
  
  position: relative;
  z-index: 4;
}

a.language-select+.hide {
  display: none;
}

a.language-select:hover+.hide, a.language-select+.hide:hover {
  display: inherit;
  margin: auto;

  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  text-align: center;
  color: inherit;
  list-style-type: none;

  position: absolute;
  z-index: 4;
}
/* <-- */

/* Small-Screen-Width Rules */
@media screen and (max-width: 1366px) {

	header ul {
    display: none;
	}

	header ul li, li a {
    width: 100%;
	}

	header .show-menu {
    display: block;
    margin: auto;

    line-height: 40px;

    position: relative;
    z-index: 3;
  }
}
/*--> <--*/

/* -->Footer Content<-- */
footer {
  display: inline-table;
  margin: auto;

  width: 100%;

  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  text-align: left;
  color: inherit;
  list-style-type: none;

  background-color: rgba(0,0,0, 1);

  position: relative;
  z-index: 2;
}

footer ul {
  display: inherit;
  margin: auto;

  position: absolute;
}

footer li {
  display: inherit;
  margin: auto;

  padding: 10px;
  
  position: relative;
}

footer li a {
  display: inherit;
  
	height: 40px;
  
  line-height: 40px;

  background: rgba(44, 62, 80, 0.7);
  
  position: relative
}

footer li a:hover {
  padding-right: 3px;

  background: rgba(39, 174, 96, 0.7);
}

footer li:hover ul li a {
  display: inherit;
  margin: auto;

  height: 40px;

  line-height: 40px;
  
  transition: 1s;
  position: relative;
}

footer li ul li {
  display: inherit;
  margin: auto;

  position: relative;
  float: none;
}

footer li ul li a {
  display: inherit;
  margin: auto;

  background-color: rgba(60, 140, 230, 0.7);

  position: relative;
}
/*--> <--*/

/* -->Global Formatting<-- */

/* -->Page-Wide Parent Styles */
body, html {
  display: inline-table;
  background-image: url("../images/BlueSkyBottomMountains.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;

  width: 100%;
  height: 100%;

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255);

  position: absolute;
  float: none;
  z-index: 0;
}

* {
  box-sizing: border-box;
}
/* <-- */

/* -->OTHER */

/* Content Container */
.bg-text-full {
  display: inline-table;
  border: 3px solid black;
  border-spacing: 0px 10px;
  margin: auto;

  width: 100%;
  height: fit-content;
  
  background-color: transparent; /* Fallback color */
  background-color: rgba(0,0,0, 0.3);
  backdrop-filter: blur(5px);


  position: relative;
  /*top: 50%;*/
  /*left: 50%;*/
  /*transform: translate(-50%, -50%);*/
}

/* ->Text-Only Container */
.text-container {
  display: inline-table;
  border: rgba(60, 140, 230, 0.7) solid 1px;
  border-spacing: 5px 10px;
  margin: auto;
  
  line-height: 25px;
  
  background-color: rgba(0,0,0, 0.3);

  position: relative;
  z-index: 0;
}

.text-container:hover {
  background-color: rgba(60, 140, 230, 0.2);
}

.text-container-title {
  display: inline-table;
  margin: auto;

  width: fit-content;

  background-image: url("../images/Color-Transition-Gradient-Background.jpg");
  background-position: top;
  background-size: cover;
  background-clip: content-box;
  background-attachment: fixed;

  position: relative;
  float: none;
  z-index: 0;
}

.toggle-text-container {
  display: inline-table;
  border: rgba(60, 140, 230, 0.7) solid 1px;
  margin: auto;

  line-height: 40px;
  padding: 10px 10px;
  
  background: rgba(0,0,0, 0.3);
  
  position: relative;
  float: right;
  z-index: 0;
}

#toggle-text-container-view-1, #toggle-text-container-view-2 {
  display:none;
}
/* <- */

/* ->Image-Only Container */
.img-container {
  display: inline-table;
  margin: auto;

  padding: 5px 5px;

  position: relative;
  z-index: 0;
}

.img-container-100px-100px img {
  width: 100px;
  height: 100px;
}

.img-container-200px-200px img {
  width: 200px;
  height: 200px;
}
/* <- */

/* Custom UL symbols */
.arrow-ul {
  list-style-type: '-->  ';
  list-style-position: inside;
}

/* Custom Copyright Styles */
.copyright {
  text-align: justify;
}

/* ->Width Rules */
.half-width {
  width: 50%;
}

.full-width {
  width: 100%;
}

.third-width {
  width: 33.33%;
}
/* <- */

/* ->Float Rules */
.float-left {
  float: left;
}

.float-left-always {
  float: left;
}

.float-right {
  float: right;
}

.float-right-always {
  float: right;
}
/* <- */

/* ->z-index Rules */
.z-index-0 {
  z-index: 0;
}

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

.z-index-3 {
  z-index: 3;
}
/* <- */

/* <-- */

/* -->Tag-Only Styles */
a {
  text-decoration: none;
  color: #00B7FF;
}

p {
  padding: 10px 10px;
}

h1, h2 {
  padding: 10px 10px;

  text-align: center;
}

h3, h4 {
  padding: 5px 5px;

  text-align: center;
}

hr {
  border: 2px solid rgba(60, 140, 230, 0.7);
  z-index: 0;
}
/* <-- */

/* Small-Screen-Width Rules */
@media screen and (max-width: 720px) {
  .third-width {
    width: 100%;
  }

  .half-width {
    width: 100%;
  }
  
  .float-left {
    float: none;
  }

  .float-right {
    float: none;
  }
}
/*--> <--*/

/* EOF - CSS Styles */