/* CSS Styles */


/* -->Header Content<-- */
header {
  display: block;
  margin: auto;

  width: 100%;
  height: 150px;

  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  text-decoration: none;
  text-align: justify;
  color: inherit;
  list-style-type: none;

  background-image: url("../images/header-bg.jpg");

  position: relative;
}

header .show-menu {
  display: none;
}

header input#show-menu[type="checkbox"] {
  display: none;
}

nav {
  display: inline-table;
  margin: auto;

  position: absolute;
}

nav .hide {
  display: none;
}

nav a, nav .hide a {
  display: inline-table;
  border: 1px solid rgba(60, 140, 230, 0.7);
  margin: auto;

  color: white;

  padding: 5px 5px;
  cursor: pointer;

  background-color: rgb(0,0,0);

  position: relative;
}

nav a:hover {
  background-color: rgb(39, 174, 96);

  transition: 0.5s;
}

nav a+.hide a:hover {

  color: black;

  background-color: rgb(60, 140, 230);

  transition: 0.5s;
}

nav a:hover+.hide, nav a+.hide:hover {
  display: table;
  overflow: visible;
  margin: auto;

  transition: 0.5s;
  position: absolute;
  z-index: 2;
}

/* -->Language Selector */
.language-select {
  display: inline-table;
  margin: auto;

  position: relative;
  float: right;
}

input#language-select[type="checkbox"] {
  display: none;
}

#language-select+.hide {
  display: none;
}

#language-select+.hide a {
  display: inline-block;
  border: 1px solid rgba(60, 140, 230, 0.7);
  margin: auto;

  padding: 5px 5px;
  cursor: pointer;

  position: relative;
}

header #language-select+.hide a:hover {
  background-color: rgba(39, 174, 96, 0.7);
}

header input#language-select[type="checkbox"]:checked+.hide {
  display: block;
  border-spacing: 2px 2px;
  margin: auto;

  padding: 10px 10px;
  cursor: pointer;

  position: relative;
  float: right;
}
/* <-- */

/* Small-Screen-Width Rules */
@media screen and (max-width: 680px) {
  nav {
    display: none;
  }

  nav .hide {
    display: none;
  }

  header input#show-menu[type="checkbox"]:checked~nav {
    display: block ;
    margin: auto;
  
    position: absolute;
  }

	header .show-menu {
    display: inline-table;
    margin: auto;

    padding-left: 50px;

    position: relative;
  }
/*
  header input#language-select[type="checkbox"]:checked+.hide {
    display: ;
  }*/
}
/*--> <--*/

/* -->Footer Content<-- */
footer {
  display: inline-table;
  margin: auto;

  width: 100%;

  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  text-align: left;
  color: inherit;
  list-style-type: none;

  background-color: rgba(0,0,0, 0.7);

  position: relative;
}

footer ul {
  display: inherit;
  margin: auto;

  text-align: center;

  position: relative;
}

footer li {
  display: inherit;
  margin: auto;

  padding: 10px;
  
  position: relative;
}

footer li a {
  display: inherit;
  margin: auto;

  background: rgba(44, 62, 80, 0.7);
  
  position: relative
}

footer li a:hover {
  padding-right: 3px;

  background: rgba(39, 174, 96, 0.7);

  transition: 0.5s;
}
/*--> <--*/

/* -->Global Formatting<-- */

/* -->Page-Wide Parent Styles */
body, html {
  display: inline-table;
  background-image: url("../images/BlueSkyBottomMountains.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;

  width: 100%;
  height: 100%;

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255);

  -webkit-user-select: none;
  -moz-user-select: none;
}

* {
  box-sizing: border-box;
}
/* <-- */

/* -->OTHER */

/* Content Container */
.bg-text-full {
  display: inline-table;
  border: 3px solid black;
  border-spacing: 2px 10px;
  margin: auto;

  width: 100%;
  height: fit-content;
  
  background-color: transparent; /* Fallback color */
  background-color: rgba(0,0,0, 0.3);
  backdrop-filter: blur(5px);

  position: relative;
}

/* ->Text-Only Container */
.text-container {
  display: inline-table;
  border: 1px solid rgba(60, 140, 230, 0.7);
  border-spacing: 5px 7px;
  margin: auto;
  
  line-height: 25px;
  
  background-color: rgba(0,0,0, 0.3);

  position: relative;
}

.text-container:hover {
  background-color: rgba(0,0,0, 0.4);
}

.text-container-title {
  display: inline-table;
  margin: auto;

  width: 100%;

  background-image: url("../images/title-bg.jpg");
  background-position: top;
  background-size: contain;
  background-clip: inherit;
  background-attachment: fixed;

  position: relative;
}

.toggle-text-container {
  display: inline-table;
  border: 1px solid rgba(60, 140, 230, 0.7);
  margin: auto;

  line-height: 30px;
  padding: 10px 10px;
  
  background: rgba(0,0,0, 0.3);
  
  position: relative;
  float: right;
}

#toggle-text-container-view-1, #toggle-text-container-view-2 {
  display:none;
}
/* <- */

/* ->Image-Only Container */
.img-container {
  display: inline-table;
  margin: auto;

  padding: 5px 5px;

  position: relative;
}

.img-container-100px-100px img {
  width: 100px;
  height: 100px;
}

.img-container-200px-200px img {
  width: 200px;
  height: 200px;
}
/* <- */

/* Custom UL symbols */
.arrow-ul {
  list-style-type: '-->  ';
  list-style-position: outside;
}

/* Custom Copyright Styles */
.copyright {
  text-align: justify;
}

/* ->Width Rules */
.half-width {
  width: 50%;
}

.third-width {
  width: 33.33%;
}

.full-width {
  width: 100%;
}
/* <- */

/* ->Float Rules */
.float-left {
  float: left;
}

.float-left-always {
  float: left;
}

.float-right {
  float: right;
}

.float-right-always {
  float: right;
}
/* <- */

/* ->z-index Rules */
.z-index-0 {
  z-index: 0;
}

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

.z-index-3 {
  z-index: 3;
}
/* <- */

/* <-- */

/* -->Tag-Only Styles */
a {
  text-decoration: none;
  color: #00B7FF;
}

p {
  padding: 10px 10px;
}

h1, h2 {
  padding: 10px 10px;

  text-align: center;
}

h3, h4 {
  padding: 5px 5px;

  text-align: center;
}

hr {
  border: 2px solid rgba(60, 140, 230, 0.7);
}
/* <-- */

/* Small-Screen-Width Rules */
@media screen and (max-width: 720px) {
  .third-width {
    width: 100%;
  }

  .half-width {
    width: 100%;
  }
  
  .float-left {
    float: none;
  }

  .float-right {
    float: none;
  }
}
/*--> <--*/

/* EOF - CSS Styles */