/* CSS Styles */


/* -->Header Content<-- */
header {
  display: block;
  border-bottom: 1px solid transparent;
  border-radius: 5px 5px 20px 20px;
  margin: auto;

  width: 100%;
  height: 120px;

  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  text-decoration: none;
  text-align: justify;
  color: inherit;
  list-style-type: none;

  background-image: url("../images/header-bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
}

header .show-menu {
  display: none;
}

header input#show-menu[type="checkbox"] {
  display: none;
}

nav {
  display: inline-table;
  margin: auto;

  padding-left: 10px;
  padding-top: 10px;

  position: absolute;
}

nav .hide {
  display: none;
}

nav a, nav .hide a {
  display: inline-table;
  border: 1px solid rgba(60, 140, 230, 0.7);
  margin: auto;

  color: white;

  padding: 10px 10px;
  cursor: pointer;

  background-color: rgb(0,0,0);

  position: relative;
}

nav a:hover {
  background-color: rgb(39, 174, 96);

  transition: 0.5s;
}

nav a+.hide a:hover {
  color: black;

  background-color: rgb(60, 140, 230);

  transition: 0.5s;
}

nav a:hover+.hide, nav a+.hide:hover {
  display: block;
  overflow: visible;
  margin: auto;

  padding-top: 5px;
  padding-left: 15px;

  position: absolute;
  z-index: 2;
}

/* -->Language Selector */
.language-select {
  display: inline-table;
  margin: auto;

  padding-top: 10px;
  padding-right: 10px;

  color: white;

  position: relative;
  float: right;
}

input#language-select[type="checkbox"] {
  display: none;
}

#language-select+.hide {
  display: none;
}

#language-select+.hide a {
  display: inline-block;
  border: 1px solid rgba(60, 140, 230, 0.7);
  margin: auto;

  padding: 5px 5px;
  cursor: pointer;

  background-color: rgb(0,0,0);

  position: relative;
}

header #language-select+.hide a:hover {
  background-color: white;
}

header input#language-select[type="checkbox"]:checked+.hide {
  display: block;
  border-spacing: 2px 2px;
  margin: auto;

  padding: 5px 10px;
  cursor: pointer;

  position: relative;
  float: right;
}
/* <-- */

/* Small-Screen-Width Rules */
@media screen and (max-width: 900px) {
  nav {
    display: none;
  }

  nav .hide {
    display: none;
  }

  header {
    height: 150px;
  }

  header input#show-menu[type="checkbox"]:checked~nav {
    display: block;
    margin: auto;

    font-size: 70%;

    position: absolute;
  }

	header .show-menu {
    display: inline-table;
    margin: auto;

    padding-top: 10px;
    padding-left: 10px;

    position: relative;
  }
/*
  header input#language-select[type="checkbox"]:checked+.hide {
    display: ;
  }*/
}
/*--> <--*/

/* -->Footer Content<-- */
footer {
  display: inline-table;
  margin: auto;

  width: 100%;

  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  text-align: center;
  color: inherit;
  list-style-type: none;

  background-color: rgba(0,0,0, 0.7);

  position: relative;
}

footer ul {
  display: inherit;
  margin: auto;

  vertical-align: middle;

  text-align: center;

  position: relative;
}

footer li {
  display: inherit;
  margin: auto;

  vertical-align: middle;

  padding: 10px;
  
  position: relative;
}

footer li a {
  display: inherit;
  margin: auto;

  vertical-align: middle;

  background: rgba(44, 62, 80, 0.7);
  
  position: relative
}

footer li a:hover {
  padding-right: 3px;

  background: rgba(39, 174, 96, 0.7);

  transition: 0.5s;
}
/*--> <--*/

/* -->Global Formatting<-- */

/* -->Page-Wide Parent Styles */
body, html {
  display: inline-table;
  /*background-image: url("../images/faded-black-background-9.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
  margin: auto;

  width: 100%;
  height: 100%;

  font: 20px "Lucida Console", Helvetica, Arial, sans-serif;
  color: white;

  /* Fallback bg color*/
  background-color: black;

  -webkit-user-select: none;
  -moz-user-select: none;
}

* { box-sizing: border-box; }
/* <-- */

/* -->OTHER */

/* Content Container */
.bg-text-full {
  display: inline-table;
  /*border: 3px solid black;*/
  /*border-spacing: 2px 10px;*/
  margin: auto;

  width: 100%;
  height: fit-content;

  text-align: center;
  
  background-color: transparent; /* Fallback color */
  background-color: rgba(0,0,0, 0.5);
  backdrop-filter: blur(5px);

  position: relative;
}

.content-container-header {
  position: fixed;
  border-bottom: 1px solid white;
  border-radius: 5px 5px 20px 20px;
  z-index: 100;
}

.content-container-body {
  padding-top: 150px;
  padding-bottom: 150px;
}

/* ->Text-Only Container */
.text-container {
  display: inline-table;
  border: 1px solid rgba(60, 140, 230, 0.7);
  border-spacing: 5px 7px;
  
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;

  width: fit-content;
  min-height: 300px;
  vertical-align: middle;

  line-height: 25px;
  padding: 10px 10px;
  /*
  background-image: url("../images/title-bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
  background-color: rgba(255,255,255, 0.1);

  position: relative;
}

.text-container .text-container {
  border-radius: 50px;
}

.text-container .text-container:hover {
  background-color: rgba(0,0,0, 0.5);

  transition: 1.5s;
}

.text-container-title {
  display: inline-table;
  margin: auto;

  width: 100%;

  background-image: url("../images/title-bg.jpg");
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: inherit;

  position: relative;
}

.toggle-text-container {
  display: inline-table;
  border: 1px solid rgba(60, 140, 230, 0.7);
  margin: auto;

  text-align: center;

  line-height: 30px;
  padding: 10px;
  
  background: rgba(0,0,0, 0.3);
  
  position: relative;
  float: right;
}

#toggle-text-container-view-1, #toggle-text-container-view-2 {
  display:none;
}
/* <- */

/* ->Image-Only Container */
.img-container {
  display: inline-table;
  margin: auto;

  padding: 5px 5px;

  position: relative;
}

.img-container-logo {
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-top: 5px;
  /*background-color: rgba(255,255,255, 0.5);*/
  border-radius: 20px;
  backdrop-filter: blur(20px);
}

.img-container-logo img {
  max-width: 90%;
}

.img-container-100px-100px img {
  width: 100px;
  height: 100px;
}

.img-container-200px-200px img {
  width: 200px;
  height: 200px;
}

.img-container-full-300px img {
  width: 100%;
  max-height: 300px;
}

.img-container-half-300px img {
  width: 50%;
  max-height: 300px;
}

.img-container-third-200px img {
  width: 33.33%;
  max-height: 200px;
}
/* <- */

/* ->Slideshow */
.mySlides1 img, .mySlides2 img {
  max-width: 1200px;
  max-height: 700px;
  min-height: 450px;
  vertical-align: middle;
}

.slideshow-container {
  display: inline-table;
  margin: auto;

  position: relative;
}

.prev, .next {
  cursor: pointer;
  position: relative;
  top: 50%;
  width: auto;
  padding: 5px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}
/* <- */

/* ->Video Background */

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  display: inline-table;
  margin: auto;
  
  width: max-content;
  height: max-content;
  position: fixed;
  z-index: 0;
}

/* Style the button used to pause/play the video */
#myBtn {
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}
/* <- */

/* ->Animations */
.animation {
  display: inline-table;
  border: 1px solid rgba(60, 140, 230, 1);
  margin: auto;

  vertical-align: middle;

  position: relative;
}

.animation video {
  max-width: 90%;
}

/* Custom UL symbols */
.arrow-ul {
  list-style-type: '-->  ';
  list-style-position: outside;
}

/* Custom Copyright Styles */
.copyright {
  font-weight: bold;

  padding: 200px;
}

/* ->Width Rules */
.half-width {
  width: 50%;
}

.third-width {
  width: 33.33%;
}

.full-width {
  width: 100%;
}

.width-fit-content {
  width: fit-content;
}
/* <- */

/* ->Float Rules */
.float-left {
  float: left;
}

.float-left-always {
  float: left;
}

.float-right {
  float: right;
}

.float-right-always {
  float: right;
}
/* <- */

/* ->z-index Rules */
.z-index-0 {
  z-index: 0;
}

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

.z-index-3 {
  z-index: 3;
}
/* <- */

/* <-- */

/* -->Tag-Only Styles */
a {
  text-decoration: none;
  color: #00B7FF;
}

p {
  vertical-align: middle;

  text-align: left;
  padding-left: 10px;
}

ul {
  list-style-type: ">  ";
  list-style-position: inside;
  margin-left: 5px;

  vertical-align: middle;

  font-size: larger;
  text-align: center;
  color: rgba(39, 174, 96, 1);

  padding: 20px 20px;
}

h1 {
  padding: 10px 50px;

  line-height: 60px;

  text-align: left;
}

h2 {
  padding: 10px 50px;

  line-height: 50px;

  text-align: right;
}

h3 {
  padding: 5px 50px;

  line-height: 50px;

  text-align: left;
}

h4 {
  padding: 5px 10px;

  line-height: 50px;

  text-align: center;
}

hr {
  border: 2px solid rgba(60, 140, 230, 0.7);
}
/* <-- */

/* -->Icons */
/* <-- */

/* Screen-Width Rules */
@media screen and (max-width: 1360px) {
  p {
    padding: 0px 5px;
  }

  ul {
    padding: 25px 25px;
  }

  .mySlides1 img, .mySlides2 img {
    padding: 20px;
  }

  .copyright {
    padding: 50px;
  }

  .third-width {
    width: unset;
  }

  .half-width {
    width: unset;
  }

  .width-fit-content {
    width: unset;
  }
  
  .float-left {
    float: none;
  }

  .float-right {
    float: none;
  }
}

@media screen and (min-width: 801px) {
  .text-container {
    border: none;
  }
}
/*--> <--*/

/* EOF - CSS Styles */