/* CSS Styles */

/* Style the navigation bar */
nav {
  /*overflow: visible;*/
  display: inline-table;
  margin: auto;
  
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  text-align: center;
  color: inherit;

  position: absolute;
  z-index: 2;
}

nav a {
  padding: 5px 0px;

  z-index: inherit;
}
/* <-- */

/* NAVIGATION content*/
header {
  display: inline-table;
  margin: auto;

  list-style-type: none;

  background-color: rgba(0,0,0, 1);

  position: relative;
  z-index: 2;
}

header ul{
  display: inherit;
  margin: auto;
  
  position: absolute;
  z-index: inherit;
}

header li{
  display: inherit;
  margin: auto;

  z-index: inherit;
}

header li a{
  display: inherit;
  margin: auto;

	min-width: 300px;
  height: 40px;
  
  line-height: 40px;

	background: rgba(44, 62, 80, 0.7);
  
  position: relative;
  z-index: inherit;
}

header li a:hover{
  padding-right: 3px;

  background: rgba(39, 174, 96, 0.7);
}

header li:hover ul li a{
  display: inherit;
  margin: auto;

  min-width: 300px;
  height: 40px;

	line-height: 40px;
	
  transition: 1s;
  position: relative;
  z-index: inherit;
}

header li ul{
  display: none;
}

header li ul li{
  display: inherit;
  margin: auto;

  position: relative;
  float: none;
  z-index: inherit;
}

header li ul li a{
  display: inherit;
  margin: auto;

	width: auto;
  min-width: 300px;

  background-color: rgba(60, 140, 230, 0.7);

  position: relative;
  z-index: inherit;
}

header input[type="checkbox"]{
  display: none;
}

header input[type="checkbox"]:checked~#menu{
  display: inherit;
  margin: auto;
}

/* Multiple uses */
header .show-menu{
  display: none;
  
  padding: 10px 0px;

  line-height: 40px;
  
  background: transparent;
  
  z-index: 2;
}

@media screen and (max-width: 1366px){

	header ul{
    display: none;

		position: static;
	}

	header li{
    margin-bottom: 0px;
	}

	header ul li, li a{
    width: 100%;
	}

	header .show-menu{
    display: inherit;
    margin: auto;
	}
}
/*--> <--*/

/* FOOTER content*/
footer {
  display: inline-table;
  margin: auto;

  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  text-align: center;
  color: inherit;
  list-style-type: none;

  background-color: rgba(0,0,0, 1);

  position: relative;
  z-index: 2;
}

footer ul{
  display: inherit;
  margin: auto;

  position: absolute;
}

footer li{
  display: inherit;
  margin: auto;

  padding: 10px;
  
  position: relative;
}

footer li a{
  display: inherit;
  
	height: 40px;
  
  line-height: 40px;

  background: rgba(44, 62, 80, 0.7);
  
  position: relative
}

footer li a:hover{
  padding-right: 3px;

  background: rgba(39, 174, 96, 0.7);
}

footer li:hover ul li a{
  display: inherit;
  margin: auto;

  height: 40px;

  line-height: 40px;
  
  transition: 1s;
  position: relative;
}

footer li ul li{
  display: inherit;
  margin: auto;

  position: relative;
  float: none;
}

footer li ul li a{
  display: inherit;
  margin: auto;

  background-color: rgba(60, 140, 230, 0.7);

  position: relative;
}
/*--> <--*/

/* Formatting */
body, html {
  display: inline-table;
  /* Image */
  background-image: url("../images/Color-Transition-Gradient-Background.jpg");
  /* Blur effect */
  /*filter: blur(8px);*/
  /*-webkit-filter: blur(8px);*/
  /* Position and scale */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;

  width: 100%;
  height: 100%;
  padding: 2px 2px;

  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255);
  /*font-weight: bold;*/

  position: absolute;
  float: none;
}

/* OTHER */
* {
  box-sizing: border-box ;
}

/* CONTENT container */
.bg-text-full {
  display: inline-table;
  border: 1px solid black;
  border-spacing: 5px 10px;
  margin: auto;

  width: 100%;
  height: fit-content;
  padding: 5px 5px;
  
  background-color: rgb(0, 0, 0, 0); /* Fallback color */
  background-color: rgba(0,0,0, 0.3); /* Black w/opacity/see-through */

  /*top: 50%;*/
  /*left: 50%;*/
  /*transform: translate(-50%, -50%);*/
  position: relative;
  z-index: 2;
}
/*END OTHER*/

a {
  text-decoration: none;
  color: #00B7FF;
}

p {
  padding: 10px 10px;
}

.text-container {
  display: inline-table;
  border: rgba(60, 140, 230, 0.7) solid 1px;
  margin: auto;
  
  line-height: 25px;
  
  background-color: rgba(0,0,0, 0.3);

  position: relative;
}

.text-container:hover {
  background-color: rgba(60, 140, 230, 0.5);
}

.text-container-title {
  display: inline-table;
  margin: auto;

  width: 100%;

  background-image: url("../images/Color-Transition-Gradient-Background.jpg");

  position: relative;
}

.toggle-text-container {
  display: inline-table;
  border: rgba(60, 140, 230, 0.7) solid 1px;
  margin: auto;

  line-height: 40px;
  padding: 10px 10px;
  
  background: rgba(0,0,0, 0.3);
  
  position: relative;
  float: right;
}

#toggle-text-container-view-1, #toggle-text-container-view-2 {
  display:none;
}

.img-container {
  display: inline-table;
  margin: auto;

  padding: 5px 5px;

  position: relative;
}

.img-container-100px-100px img{
  width: 100px;
  height: 100px;
}

.img-container-200px-200px img{
  width: 200px;
  height: 200px;
}

h1, h2 {
  padding: 10px 10px;

  text-align: center;
}

h3, h4 {
  padding: 5px 5px;

  text-align: center;
}

hr {
  border: 2px solid rgba(60, 140, 230, 0.7);
}

.arrow-ul {
  list-style-type: '-->  ';
  list-style-position: inside;
}

.copyright {
  text-align: justify;
}

.half-width {
  width: 50%;
}

.full-width {
  width: 100%;
}

.third-width {
  width: 33.33%;
}

.float-left {
  float: left;
}

.float-left-always {
  float: left;
}

.float-right {
  float: right;
}

.float-right-always {
  float: right;
}

@media screen and (max-width: 1366px){
  .third-width {
    width: 100%;
  }

  .half-width {
    width: 100%;
  }
  
  .float-left {
    float: none;
  }

  .float-right {
    float: none;
  }
}
/*--> <--*/

/*EOF*/